
/*FORM*/


.break {
	word-wrap: break-word;
}


.carousel-inner img {
	margin: auto;
	  width: auto;
 # height: 500px;
 # max-height: 500px;
}

.map-responsive {
	border:1px;
	color:black;
}
#success_message{ display: none;}

#gmap_canvas{
	min-height: 300px;width:100%;
}
/*#kontakt{
	background-color:grey;
}*/
/*#gmap_canvas2{
	overflow:hidden;height:440px;width:700px;

}*/

body { padding-bottom: 70px; 
	
	}
	

html, body {
	height: 100%
}


footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    	background: #333333;
    	font: white;

}


.text-muted {
	color:white;
}

.col-sm-4 {
	
}

    .map {
        min-width: 300px;
        min-height: 300px;
        width: 100%;
        height: 100%;
		
    }

    .header {
        background-color: #F5F5F5;
        color: black;
        height: 70px;
        font-size: 27px;
        padding: 10px;
    }
#asilas {
	color:red;
}
	
body {
background-image: url('pics/XXX.jpg');

/* First value sets width, second sets height */
/* 
Keep in mind that when it comes to background size and using 100% 100%, the width will span the entire length of the viewport, but the height will only span the current height of the content.  This will create a banner type, jumbotron effect.
*/
background-size: 100% 100%;
}
img {
	max-width:100%;
	max-height:100%;
}