@(message: String, style: String = "java")

@defining(play.core.PlayVersion.current) { version =>

<body>


<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!-- <a class="navbar-brand" href="index11.html">Vidos Masažai</a> -->
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li class="active"><a href='@routes.HomeController.pagrindinis'>Pagrindinis</a></li>
                <li><a href='@routes.HomeController.masazai'>Masažai</a></li>
                <li><a href='@routes.HomeController.kontaktai'>Kontaktai</a></li>
                <li><a href='@routes.HomeController.apie'>Apie</a></li>
                <li><a href='@routes.HomeController.kainos'>Kainos</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li id="kalba"><a href="../de/index1.html"><span class="lang-sm lang-lbl" lang="de" style="color:green" ></span></a></li>
                <li id="kalba"><a href="../lt/index1.html"><span class="lang-sm lang-lbl" lang="lt" style="color:green" ></span></a></li>
                <li id="kalba"><a href="../ru/index1.html"><span class="lang-sm lang-lbl" lang="ru" style="color:green" ></span></a></li>
                <li id="kalba"><a href="../en/index1.html"><span class="lang-sm lang-lbl" lang="en" style="color:green" ></span></a></li>

            </ul>
        </div>
    </div>
</nav>

<div class="container">

    <div class="row">
        <div class="box">
            <div class="col-lg-12 text-center">
                <div id="carousel-example-generic" class="carousel slide">
                    <!-- Indicators -->
                    <ol class="carousel-indicators hidden-xs">
                        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <div class="item active">
                            <img class="img-responsive img-full" src='@routes.Assets.at("images/mas6.jpeg")' alt="">
                        </div>
                        <div class="item">
                            <img class="img-responsive img-full" src='@routes.Assets.at("images/mas6.jpeg")' alt="">
                        </div>
                        <div class="item">
                            <img class="img-responsive img-full" src='@routes.Assets.at("images/mas6.jpeg")' alt="">
                        </div>
                    </div>

                    <!-- Controls -->
                    <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                        <span class="icon-prev"></span>
                    </a>
                    <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                        <span class="icon-next"></span>
                    </a>
                </div>
                <h2 class="brand-before">
                    <small>Sveiki atvykę į</small>
                </h2>
                <h1 class="brand-name">Poilsio zoną!</h1>
                <hr class="tagline-divider">
                <h2>
                    <small>
                        <strong>Turite klausimų?</strong>
                    </small>
                </h2>
            </div>
        </div>
    </div>
</div>

<div class="inner contact">
    <!-- Form Area -->
    <div class="contact-form">
        <!-- Form -->
        <form id="contact-us" method="post" action="#">
            <!-- Left Inputs -->
            <div class="col-xs-6 wow animated slideInLeft" data-wow-delay=".5s">
                <!-- Name -->
                <input type="text" name="name" id="name" required="required" class="form" placeholder="Vardas" />
                <!-- Email -->
                <input type="email" name="mail" id="mail" required="required" class="form" placeholder="Elektroninis paštas" />
                <!-- Subject -->
                <input type="text" name="phone" id="phone" required="required" class="form" placeholder="Telefono numeris" />
            </div><!-- End Left Inputs -->
            <!-- Right Inputs -->
            <div class="col-xs-6 wow animated slideInRight" data-wow-delay=".5s">
                <!-- Message -->
                <textarea name="message" id="message" class="form textarea"  placeholder="Klausimas"></textarea>
            </div><!-- End Right Inputs -->
            <!-- Bottom Submit -->
            <div class="relative fullwidth col-xs-12">
                <!-- Send Button -->
                <button type="submit" id="submit" name="submit" class="form-btn semibold">Siųsti žinutę</button>
            </div><!-- End Bottom Submit -->
            <!-- Clear -->
            <div class="clear"></div>
        </form>

        <!-- Your Mail Message -->
        <div class="mail-message-area">
            <!-- Message -->
            <div class="alert gray-bg mail-message not-visible-message">
                <strong>Ačiū!</strong> Jūsų žinutė išsiųsta.
            </div>
        </div>

    </div><!-- End Contact Form Area -->
</div><!-- End Inner -->
<div id="map-canvas" style="height:100px;">

    <iframe
            width="450"
            height="250"
            frameborder="0" style="border:0"
            src="https://www.google.com/maps/embed/v1/search?key=AIzaSyDDfohThsdGd8TXi2ykFQ-H3xOI_scito8&q=record+stores+in+Seattle" allowfullscreen>
    </iframe>


</div>





<div class="col-md-12">

    <div class="panel-body text-center">
        <div id="map1" class="map">



            <script src="http://maps.google.com/maps/api/js?sensor=false"></script>

            <script type="text/javascript">
    jQuery(function ($) {
        function init_map1() {
            var myLocation = new google.maps.LatLng(47.6992063, 8.6240716);
            var mapOptions = {
                center: myLocation,
                zoom: 16
            };
            var marker = new google.maps.Marker({
                position: myLocation,
                title: "Property Location"
            });
            var map = new google.maps.Map(document.getElementById("map1"),
                mapOptions);
            marker.setMap(map);
        }
        init_map1();
    });
</script>



            <!-- Contact with Map - END -->

        </div> </div>
</div>




</body>

<footer class="footer">
    <div class="container">


        <p class="text-muted">Alex design &copy 2016</span></p>
    </div>

</footer>



}